<section class="section categories">
  <div class="spinner centered" *ngIf="loading"></div>
  <div *ngIf="!loading">

    <nav class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title is-5">Categories</h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <p>
            <strong>{{categories?.length}}</strong> categories
          </p>
        </div>
        <div class="level-item">
          <app-create-category [projectID]="projectId"></app-create-category>
        </div>
      </div>
    </nav>

    <app-categories-list [categories]="categories" [loading]="loading" [projectId]="projectId"></app-categories-list>

  </div>
</section>
